.works {
}


.action-enter.works {
  opacity: 0;
}
.action-enter-active.works {
  opacity: 1;
  transition: opacity 200ms;
}
.action-exit.works {
  opacity: 1;
}
.action-exit-active.works {
  opacity: 0;
  transition: opacity 200ms;
}