@import "../../../styles/variables";
@import "../../../styles/grid/grid";

.works {
  &__content {
    @include grid-row(xs);
  }

  &__cards-box {
    @include grid-col(xs, 12);

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

/* ANIMATION */
.works {
  &__title-section {
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}

.action-exit-active {
  .works__title-section {
    animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
    transform: perspective(1000px) translateZ(-10px);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: perspective(1000px) translateZ(0);
  }
}

@keyframes slide-out-bck-center {
  0% {
    opacity: 1;
    transform: perspective(1000px) translateZ(0);
  }

  100% {
    opacity: 0;
    transform: perspective(1000px) translateZ(-10px);
  }
}
