body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  background: linear-gradient(46.19deg, #030303 65.04%, rgb(30 30 30 / 0.71) 115.16%);
  background-repeat: no-repeat;
}

.app {
  box-sizing: border-box;
  width: 100%;
  padding: 0 $base * 2.5;

  @media (min-width: $sm) {
    width: $sm;
    margin: 0 auto;
  }

  @media (min-width: $md) {
    width: $md;
  }

  @media (min-width: $lg) {
    width: $lg;
  }

  @media (min-width: $xl) {
    width: $xl;
  }
}
