body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(46.19deg, #030303 65.04%, #5f5f5f 115.16%);
  background-repeat: no-repeat;
}

.app {
  position: relative;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;

  @media (min-width: $sm) {
    width: 80%;
  }

  @media (min-width: $md) {
    width: 700px;
  }

  @media (min-width: $lg) {
    width: 800px;
  }

  @media (min-width: $xl) {
    width: 1000px;
  }

  & > main {
    box-sizing: border-box;
    padding-bottom: 80px;
  }
}
