@mixin font-primary {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

@mixin font-secondary {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 600;
}

@mixin font-third {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 300;
}

html,
body {
  @include font-primary;

  font-size: 10px;
}

h1 {
  @include font-secondary;

  font-size: 6.4rem;
  line-height: 7.68rem;
  color: $secondary;
}

h2 {
  @include font-secondary;

  font-size: 4.2rem;
  line-height: 5.04rem;
  color: $info;
}

h3 {
  @include font-third;

  font-size: 3rem;
  color: $secondary;
}

p,
span {
  @include font-primary;

  font-size: 1.7rem;
  line-height: 2.16rem;
  color: $primary;
}

a {
  @include font-primary;

  font-size: 1.7rem;
  color: $primary;
}
