@import "./index.scss";

body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;

  &::before {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background: linear-gradient(56deg, #030303 55%, #464646 100%);
  }
}

.app {
  position: relative;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  // overflow: hidden;

  @media (min-width: $sm) {
    width: 80%;
  }

  @media (min-width: $md) {
    width: 700px;
  }

  @media (min-width: $lg) {
    width: 800px;
  }

  @media (min-width: $xl) {
    width: 1000px;
  }

  & > main {
    box-sizing: border-box;
    padding-bottom: 80px;
  }
}
