@import "../../../styles/variables";

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.navigation {
  position: fixed;
  top: 20px;
  right: 20px;

  @media (min-width: $md) {
    top: 30%;
    right: 10px;
    text-align: right;
  }
}
